html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


.container{
  display: flex;
  height: 100%;
}

.controls{
  flex: 1;
  background-color: aliceblue;
}

.grid{
  flex: 5;
  display: flex;
  
  border: 0.8px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.4em;

  justify-content: center;
}

.gridColumn{
  display: flex;
  flex-direction: column;
}

.box {  
  border: 0.8px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.4em;
}
.box.active{
  background-color: black;
}